@import "palette.scss";

.primary-color-dark{
  background: $primary-color-dark;
}
.primary-color {
  background: $primary-color;
}
.primary-color-light{
  background: $primary-color-light;
}
.primary-color-light-text{
  background: $primary-color-light;
}
